html {
    overflow-y: scroll;
  }

body {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

p, ul {
    line-height: 1.5rem;
    margin: 0;
}

ul {
    margin-top: 1rem;
    
}

li {
  
}

li:not(:last-child) {
    margin-bottom: 0.5rem;
}

.normal {
    font-weight: 400;
    display: inline;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
}

a {
    color: #999;
    border-bottom: 0 solid transparent;
    padding-bottom: 0.15rem;
    transition: color 0.3s, border-bottom 0.3s;
}

a:hover {
    color: #444;
    border-bottom: 0.15rem solid #ddd;
    transition: color 0.1s, border-bottom 0.2s;
}

.indent {
    display: inline-block;
    margin-left: 2rem;
    margin-right: .5rem;
}

td {
    padding: 0.5rem 2rem 0.5rem 0;
}

/* ====================================  
Container
==================================== */ 


#page-container {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;

    margin: 0 auto;
    margin-top: 12rem;
    margin-bottom: 24rem;
}

#menu-container {
    flex-basis: 25%;
    position: relative;
    padding-right: 6rem;
    box-sizing: border-box;
    width: auto;
}

#menu {
    position: fixed;
    width: inherit;
}

.page {
    text-align: left;
    flex-basis: 75%;
    box-sizing: border-box;
}

.section {
    display: grid;
    grid-gap: 2rem;
    grid-auto-flow: row;
    margin-bottom: 4rem;
}

.section.stub {
    margin-bottom: 4rem;
}

.section.small {
    grid-template-columns: repeat(2, auto);
}

.content {
    
}

footer {
    display: block;
    width: 100%;
    
}



#footer {
    text-align: center;
    color: #999;
    font-size: 0.75rem;
    padding: 4rem 0;
}

/* ====================================  
Text
==================================== */ 

#menu-title {
    padding-right: 4rem;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

#hamburger {
    text-align: right;
    font-weight: 700;
    font-size: 3rem;
    line-height: 0;
    padding: 1rem 0 1rem 1rem;
    display: none;
    cursor: pointer;
}

#menu-links {
    padding-top: 2rem;
}


.menu-link {
    font-size: 1rem;
    line-height: 1rem;
    display: block;
    margin-bottom: 1rem;
}

.menu-link a {
    cursor: pointer;
    text-decoration: none;

}

#menu-links > *:hover {

}

#menu-bar {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Page title */
h1 {
    background: #111;
    color: #fff;
    width: 100%;
    padding: 8rem 0;
    text-align: center;
    margin-top: 0;
    margin-bottom: 8rem;
    font-size: 3rem;
    font-weight: 400;
    display: none;
}

/* Section title */
h2 {
    margin: 0 0 2rem 0;
    font-size: 1rem;
    text-transform: uppercase;
    color: #ccc;
    letter-spacing: 0.333rem;

    text-align: center;
    color: #fff;
    background: #ccc;
    padding: 3rem;
    
}

/* Content title */
h3 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    color: #444;
    line-height: 2rem;
}

.section.small h3 {
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.content .subtitle {
    margin-top: 0.25rem;
    color: #999;
    display: inline-block;
}

.content .text {
    margin-top: 1rem;
    //text-align: justify;
}

.content a.showcase-link {
    display: inline-block;
    text-decoration: none;
    background: #eee;
    margin-right: 1rem;
    margin-top: 1.5rem;
    color: #444;
    padding: .5rem .75rem;
    font-size: 0.6rem;

    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transition: background 0.25s, color 0.25s;
}

.content a.showcase-link:hover {
    background: #444;
    color: #eee;
    border-bottom: none;
    transition: background 0.05s, color 0.05s;
}


.subtitle {
    width: 100%;
}


.tags {
    margin-top: 1rem;
    color: #999;
}

.link {
    margin-top: 1rem;
}

.link a {
    text-decoration: none;
} 

@media (min-width: 1250) {
    #menu-links {
        display: initial;
    }
}

@media (max-width: 1250px) {
    
    #page-container {
        display: block;
        margin: 0;
        max-width: 800px;
        margin: 0 auto;
    }

    .section.small {
        grid-template-columns: initial;
    }

    #menu {
        padding-top: 2rem;
        padding-bottom: 2rem;
        background: #fff;
        width: 100%;
        max-width: 800px;
        box-sizing: border-box;
    }

    #menu-title {
        flex-basis: 100%;
        text-align: center;
    }

    #menu-links {
        padding-top: 2rem;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        display: inline-flex;
    }

    .menu-link {
        display: inline-block;
        margin: 0;
    }

    .page {
        padding-top: 10rem;
    }

}

@media (max-width: 900px) {

    #page-container {
        width: 100%;
        max-width: 100%;
    }

    body {
        font-size: 14px;
    }

    table {
        font-size: 14px;
        overflow: scroll;
    }

    .section {
        padding: 2rem;
        box-sizing: border-box;
        margin-bottom: 2rem;
    }

    .page {
        padding-top: 5rem;
    }

    #menu-container {
        width: 100%;
    }

    #hamburger {
        display: initial;
    }

    #menu {
        max-width: 100%;
        width: 100%;
        padding: 1.5rem 2rem;
        color: #fff;
        background: #111;
        
    }

    #menu-title {
        font-size: 1rem;
        flex-basis: 90%;
        text-align: left;
        padding-right: 0;
        line-height: 1rem;
    }

    h2 {
        font-size: 1rem;
    }

    h3,
    .section.small h3 {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    #menu-links {
        display: block;
        padding-top: 6rem;
        padding-bottom: 4rem;
    }

    .menu-link {
        width: 100%;
        font-size: 2rem;
        line-height: 2rem;
        text-align: center;
        font-weight: 700;
    }

    .menu-link:not(:last-child) {
        margin-bottom: 4rem;
    }

    .menu-link a {
        color: #fff;
    }

    .subtitle {
        width: 100%;
    }

    .tags {
        margin-top: 0.5rem;
    }

    .tag:first-child {
        margin-left: 0;
    }
}

@media (max-width: 300px) {
  
    .page {
        padding-top: 5rem;
    }
}